<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<!DOCTYPE html>
<html lang="en">
<head th:fragment="commonHeader">
    <meta charset="UTF-8">
    <title>这是一个模板博客</title>
    <base th:href="@{/}">
    <link rel="stylesheet" href="css/bootstrap.css"  type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/page.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/search.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/font-awesome-4.4.0/css/font-awesome.css}" type="text/css">

</head>

</html>